<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Memo App" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Memo App">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200..900&display=swap">
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <div class="background" style="background-image: linear-gradient(rgba(146, 146, 146, 0.14), rgba(0,0,0,0.75)), url('<%= asset_path('background_image.jpg') %>');">
    <div class="content">
      <div class="side_bar">
        <div></div>
        <ul class="main-box">
          <li class="item-boxes">憶</li>
          <li class="item-boxes">時</li>
          <li class="item-boxes">音</li>
          <li class="item-close"><span class="material-symbols-outlined">power_settings_new</span></li>
        </ul>
      </div>

      <div class="main_content">
        <div class="right_header">
          <h1 id="header_title">記憶</h1>
          <h1 id="header_title">カレンダー</h1>
          <h1 id="header_title">音</h1>
          <ul class="header_links">
            <li><a href="https://www.youtube.com/" target="_blank"><img src="https://www.google.com/s2/favicons?domain=youtube.com&sz=128" /></a></li>
            <li><a href="https://gemini.google.com/" target="_blank"><img src="https://www.google.com/s2/favicons?domain=gemini.google.com&sz=128" /></a></li>
            <li><a href="https://claude.ai/" target="_blank"><img src="https://www.google.com/s2/favicons?domain=claude.ai&sz=128" /></a></li>
            <li><a href="https://www.amazon.co.jp/" target="_blank"><img src="https://www.amazon.co.jp/favicon.ico" /></a></li>
            <li><a href="https://x.com/" target="_blank"><img src="https://x.com/favicon.ico" /></a></li>
            <li><a href="https://www.instagram.com/" target="_blank"><img src="https://www.google.com/s2/favicons?domain=instagram.com&sz=128" /></a></li>
            <li><a href="https://www.netflix.com/" target="_blank"><img src="https://www.netflix.com/favicon.ico" /></a></li>
          </ul>
        </div>
        <div class="main_title">MIND PALACE</div>
        <%= yield %>
      </div>
      </div>
    </div>
  </body>
</html>
